<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SHOFIUL ALOM"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IBNSINA"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".DashboardActivity" android:exported="false" />
        <activity android:name=".PharmaMenuActivity" android:exported="false" />
        <activity android:name=".MainActivity" android:exported="false" />
        <activity android:name=".SettingsActivity" android:exported="false" />
        <activity android:name=".SinaVisionMenuActivity" android:exported="false" />
        <activity android:name=".InmMenuActivity" android:exported="false" />
        <activity android:name=".CartonUpdateActivity" android:exported="false" />
        
        <!-- নতুন অ্যাক্টিভিটি এখানে যোগ করা হলো -->
        <activity android:name=".DataUploadActivity" android:exported="false" />

    </application>
</manifest>